



body, html {
    height: 100%;
    /*margin: 0;*/
}


#nav {
    height: 70px;
    /*display: block;
    position: fixed;*/
    /*width: 100%;*/
    /*z-index: 99999;*/
    margin: 0;
    transition: all ease .2s;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#home {
    color: #fff;
    padding: 20px;
    transition: all ease .1s;
    margin-bottom: -30px;
}

.navbar-brand.larger {
    font-size: 20px;
}

#nav.shrink {
    height: 55px;
    /*HEIGHT OF NAVBAR*/
    transition: all ease .2s;
    font-size: 20px;
    /*// Change background to black on scroll*/
}

#nav.shrink #home {
    padding: 10px;
    transition: all ease .5s;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    padding:15px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: rgb(7, 102, 162);
    /*Sets the text hover color on navbar*/
}
.navbar-inverse .navbar-nav>li>a:active {
    color: #fff;
}
a {
    color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    /*Change rollover cell color here*/
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    /*Change active text color here*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgb(7, 102, 162);
    margin: 0;
    margin-top: 2px;
    border-radius: 5px;
}

#mobile {
    background-color: rgb(7, 102, 162);
}

.icon-bar {
    background-color: white;
}

/*LANDING PAGE*/
.hero-image {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
    background-attachment: scroll;
}


.hero-text {
    text-align: center;
    position:relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.hero-title {
    padding: 6px;
    font-family: 'Cormorant Upright', serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px rgb(7, 102, 162);
    font-weight: 700;
}

.btn-default {
    font-size: 30px;
    background-color: rgb(7, 102, 162);
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    padding-top: -5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn-default:hover {
    background-color: rgb(81, 181, 254);
    color: #fff;
}
.btn-default:focus {
    background-color: rgb(7, 102, 162);
}


/*SECTIONING*/
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #f7f7f7;
}

section {
    padding-top: 0;
    margin-bottom: 0;
    margin-top:-20px;
    background-color: #f7f7f7;
    color: black;
}

/*ABOUT SECTION*/
.about {
    text-align: center;
    padding: 5px;
}

#about>h1 {
    background-image: url('../images/hk.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about_title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
}

.explain {
    font-size: 17px;
}

/*EXPERIENCE SECTION*/

#experience>h1 {
    background-image: url('../images/sh.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ui-state-default {
    color: black;
}

.ui-state-hover, .ui-state-active {
    color: white;
}

.timeline>li {
    margin-bottom: 1px;
}

.timeline-heading {
    background-color: rgb(7, 102, 162);
}

.job_title {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 9px;
    margin-left: 40px 0 20px;
}

.main_job {
    font-size: 17px;
}

/*PORTFOLIO SECTION*/

#portfolio>h1 {
    background-image: url('../images/deadsea.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#portfolio > h1 {
    margin-bottom: 0;
}
.port-title {
    font-size: 20px;
    text-align: left;
}

.project>img {
    padding-bottom: 5px;
}

.project-caption {
    margin-bottom: 50px;
}

.list-group-item {
    margin:2px;
    border-radius: 5px;
}
/*CONTACT SECTION*/

#contact {
    background-color: rgb(81, 181, 254);
    color: #fff;
}

#contact>h1 {
    background-image: url('../images/sing.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact {
    padding: 8px;
    margin-bottom: 15px;
}

.contact > p {
    color:black;
    font-size: 15px;
    font-weight: bold;
}
/*FOOTER*/

#credit {
    background-color: rgb(81, 181, 254);
    padding-top: 20px;
    padding-bottom: 5px;
    color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .hero-image {
    height: 30%;
  }
  .hero-title {
    font-size: 20px;
  }
  .btn-default {
      font-size: 15px;
      padding:5px;
  }
  .navbar-right > li {
      background-color: black;
  }
  .pachyderm {
  margin-left: 0;
  margin-right: 0;
  }
  .accordion > .timeline-body {
      padding:2px;
      text-align: left;
  }
}
@media only screen and (min-device-width : 481px)  {
    .hero-image {
      height: 50%;
    }
    .btn-default {
        font-size: 15px;
        padding:10px 15px;
    }
}
